.repo-input-wrapper {
    .repo-owner-input {
        display: inline-block;
        width: 49%;
    }

    .repo-name-input {
        display: inline-block;
        width: 49%;
    }

    .slash {
        display: inline-block;
        text-align: center;
        width: 2%;
    }
}
