.issue-container {
    margin-left: $base-spacing;
    padding-bottom: $base-spacing;
    border-bottom: 1px solid black;

    .issue-link {
        .issue-name {
            display: inline-block;
        }
    }

    .comment-count {
        @include responsive-text-size('deci');

        margin-left: 0;
        margin-top: 11px;
        color: white;
        font-weight: bold;
    }

    .issue-details {
        .detail-header {
            display: inline-block;

            .issue-number {
                font-weight: bold;
                margin-right: $base-spacing;
            }

            .issue-originator {
                font-style: italic;
                margin-right: $base-spacing;
            }

            .updated-at {
                @include responsive-text-size('deci');
            }
        }
    }

    .label-container {
        display: inline-block;
        margin-left: $base-spacing;
    }
}
