.file-container {
    width: 100%;

    @include respond-above(small) {
        width: 50%;
    }

    padding: $base-spacing;

    display: flex;
    margin-bottom: $base-spacing;

    .thumbnail-container {
        width: 30%;

        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        padding: $base-spacing;

        .loading {
            color: white;
        }
    }

    .file-information {
        width: 70%;

        display: flex;
        flex-wrap: wrap;

        .file-details {
            width: 100%;

            .file-name {
                @include overflow-ellipsis;
            }
        }

        .progress-bar-container {
            flex-basis: 100%;
            align-self: flex-end;
            display: block;
            background-color: gray;
            height: 20px;

            .progress-bar-percent {
                display: block;
                position: relative;
                height: 100%;
                background-color: blue;

                .done {
                    position: absolute;
                    right: $base-spacing;
                    color: white;
                }
            }
        }
    }
}
