.progress-bar-container {
    display: block;
    width: 100%;
    background-color: gray;
    height: 20px;

    .progress-bar-percent {
        display: block;
        position: relative;
        height: 100%;
        background-color: blue;

        .done {
            position: absolute;
            right: $base-spacing;
            color: white;
        }
    }
}
