div.dropzone-container {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
    border: 1px solid black;

    .preview-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        min-height: 400px;
    }

    .thumbnail-preview-container {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        padding: $base-spacing;
        padding-bottom: 0;

        .thumbnail-preview-item {
            background: black;
            margin-bottom: 10px;

            .thumbnail-container {
                display: flex;
                align-items: center;
                justify-content: center;

                .thumbnail {
                    margin: auto;
                    padding: $base-spacing;
                }
            }

            .loading {
                color: white;
            }

            .remove-item-btn {
                display: block;
                width: 100%;
                @include button(white, black);
            }
        }
    }

    .instructions {
        margin: auto;
        text-align: center;

        .file-select-btn {
            @include button(black);
        }

        & > * {
            margin: $base-spacing auto;
        }
    }

    .upload-files-btn {
        @include button(black);
        width: 100%;
    }
}
